body {
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 10vh;
}

h1, h2, h3, h4 {
  font-family: 'PT Serif', sans-serif;
  color: "black";
}

h1 {
  font-weight: normal;
  font-size: 30px;
}

h2 {
  padding: none;
  font-size: 35px;
}

h3 {
  font-size: 30px;
}
h4 {
  font-size: 50px;
}

p {
  padding: none;
  font-family: 'PT Serif', sans-serif;
  font-size: 30px; /* Change the font size */
}

.project-text {
  font-weight: normal;
  color: grey;
}

::selection {
  background-color: red;
}


.red-underline {
  text-decoration: underline;
  text-decoration-color: red; /* Change the color of the underline */
  text-decoration-thickness: 5px; /* Adjust the thickness of the underline */
}


.blue-underline {
  text-decoration: underline;
  text-decoration-color: blue; /* Change the color of the underline */
  text-decoration-thickness: 5px; /* Adjust the thickness of the underline */
}
.blue-underline a {
  text-decoration-color: blue;
  color: black;
}

.green-underline {
  text-decoration: underline;
  text-decoration-color: green; /* Change the color of the underline */
  text-decoration-thickness: 5px; /* Adjust the thickness of the underline */
}
.expanded {
  max-height: none;
}

/* Style for Projects section */
.projects {
  display: flex;
  justify-content: center; /* Horizontally center items */
  align-items: center; /* Vertically center items */
  flex-direction: column; /* Arrange items in a column */
}

.project1,
.project2 {
  width: 100%;
  height: 100vh;
}

.project1 {
  padding-top: 10vh;
}

/* Style for the project gifs */
.gif-container {
  display: flex;
  justify-content: center;
}

.styled-gif {
  width: 60vw; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Add border radius for rounded corners */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
  margin: 10px; /* Add some margin */
}

/* Style for contact section */
.contact {
  height: 100vh;
  display: flex;
  justify-content: center; /* Horizontally center items */
  align-items: center; /* Vertically center items */
  flex-direction: column; /* Arrange items in a column */
}


.email {
  text-align: center;
}

.email h3,
.email h4 {
  margin: 0; /* Remove default margins */
}

/* Contact Icons */
.ContactIcons {
  padding-top: 10vh; /* Adjust vertical padding as needed */
}

.ContactIcons a {
  margin: 0 10px; /* Adjust the margin between icons */
}

.ContactIcons img {
  width: 50px; /* Adjust the size of the icons */
  height: auto; /* Maintain aspect ratio */
}
