@font-face {
  font-family: 'Montserrat-Regular';
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('fonts/Montserrat-Bold.ttf') format('truetype');
}
::selection {
  background-color: yellow;
}

/* **************************************************************************** */
/* Styles for the header */
header {
  position: fixed; /* Make the header fixed */
  top: 0; /* Align the header to the top of the viewport */
  left: 10vw; /* Align the left edge of the header to the left edge of the viewport */
  right: 10vw; /* Align the right edge of the header to the right edge of the viewport */
  display: flex;
  justify-content: space-between; /* Aligns items with space in between */
  align-items: center; /* Vertically centers items */
  padding: 20px;
  background-color: white;
  font-family: 'Montserrat-Regular', sans-serif; /* Apply Montserrat-Regular font */
  font-size: 17px;
  z-index: 1000; /* Ensure the header is on top of other content */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

#projects, #about, #contact {
  padding-left: 10vw;
  padding-right: 10vw;
}

nav {
  scroll-behavior: smooth;
}
html, body {
  scroll-behavior: smooth;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Remove default margin */
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.nav-link {
  text-decoration: none;
  color: black;
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: blue; /* Change the color as needed */
  transition: width 0.3s ease;
}

.nav-link.active::after {
  width: 100%;
}

/* **************************************************************************** */
/* Styles for the home section */
#home {
  position: relative; /* Set position to relative to serve as a reference for absolute positioning */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 4vw;
}

#home img {
  position: absolute; /* Position the images absolutely */
}

#heart {
  width: 10vw;
  height: auto;
  top: 56%; /* Adjust top position as needed */
  left: 14%; /* Adjust left position as needed */
  z-index: -1; /* Set z-index to a negative value to position it behind other elements */
}

#heart-transparent {
  border-color: black;
  border-width: 10px;
  width: 10vw;
  height: auto;
  top: 56%; /* Adjust top position as needed */
  left: 14%; /* Adjust left position as needed */
}

#star {
  width: 3vw;
  height: auto;
  top: 29%; /* Adjust top position as needed */
  left: 18%; /* Adjust left position as needed */
}

#pc {
  width: 17vw;
  height: auto;
  top: 23%; /* Adjust top position as needed */
  left: 65%; /* Adjust left position as needed */
}

.portfolio-img {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease; /* Add a transition for smooth effect */
}

.portfolio-img:hover {
  transform: scale(1.1); /* Scale up the image on hover */
}

/* Define a keyframe animation for continuous rotation */
@keyframes rotate {
  from {
    transform: rotate(0deg); /* Start rotation from 0 degrees */
  }
  to {
    transform: rotate(360deg); /* Rotate to 360 degrees (one full circle) */
  }
}

/* Apply the rotation animation to the star image */
#star {
  width: 3vw;
  height: auto;
  top: 29%; /* Adjust top position as needed */
  left: 18%; /* Adjust left position as needed */
  animation: rotate 5s linear infinite; /* Apply the rotation animation */
}

/* **************************************************************************** */
/* Styles for the project section */
body p {
  font-family: 'Montserrat-Regular', sans-serif;
  text-align: left;
}

#projects {
  display: flex;
  flex-direction: column; /* Align projects as columns */
  align-items: center; /* Center projects horizontally */
  padding-top: 120px;
}

.project {
  width: 80%; /* Adjust the width of each project as needed */
  margin-bottom: 50px; /* Add space between projects */
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px; /* Make the border round */
  transition: border-width 0.3s, box-shadow 0.3s; /* Add transitions for border-width and box-shadow */
  font-size: 17px;
  display: flex; /* Align project items as rows */
}

.project:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow on hover */
}

.project-image {
  width: 30vw; /* Set width to 50vw */
  display: flex; /* Align image and text as columns */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.project-image img {
  width: 20vw;
  height: auto;
}

.project-info {
  width: 70vw; /* Set width to 50vw */
  display: flex;
  flex-direction: column; /* Align project info as column */
  margin-left: 40px;
}

#projects h3{
  margin-bottom: 0;
}
#projects p:first-of-type {
  margin-top: 0; /* Adjust the margin to move the first paragraph closer to the header */
}

#projects p:last-of-type {
  margin-top: auto; /* Set the second paragraph to the bottom of the project */
  margin-right: 50px;
  line-height: 1.7;
}

/* **************************************************************************** */
/* Styles for the about section */
#about {
  height: 100vh;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Horizontally center the items */
  font-size: 25px;
}

/* **************************************************************************** */
/* Styles for the contact section */
#contact{
  height: 60vh;
  justify-content: center; /* Horizontally center the items */
}
body h2 {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-size: 35px;
}
body h3 {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 25px;
}

body h4 {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 17px;
}

.ContactIcons {
  display: flex; /* Use flexbox */
}

.ContactIcons a {
  margin-right: 20px; /* Add some space between the icons */
}

.ContactIcons img {
  width: 50px; /* Set the width of the icons */
  height: auto; /* Maintain aspect ratio */
}
/* **************************************************************************** */
/* Styles for the footer */
footer {
  display: flex;
  padding-left: 10vw;
  align-items: center; /* Vertically center the content */
}
